# Download datasets

In [ ]:
from getdata import getData

In [13]:
# Select stock prices 
assets = ['WMT','MRK','INTC','MSFT','MMM','AAPL','VZ','JNJ','KO','CSCO','PG','UNH','PFE','WBA','GS',
          'CAT','MCD','IBM','NKE','V','DIS','HD','TRV','RTX','AXP','CVX','JPM','XOM','BA']
# download
df_assets_close = getData(assets,start='1990-01-03',end='2021-01-31')

WMT

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MRK

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
INTC

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MSFT

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MMM

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
AAPL

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
VZ

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JNJ

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
KO

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
CSCO

[*********************100%***********************]  1 of 1 completed
PG

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
UNH

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
PFE

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
WBA

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
GS

[*********************100%***********************]  1 of 1 completed
CAT

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
MCD

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
IBM

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
NKE

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
V

[*********************100%***********************]  1 of 1 completed
DIS

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
HD

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
TRV

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
RTX

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
AXP

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
CVX

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
JPM

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
XOM

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
BA

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
# data
df_assets_close.head()

,WMT,MRK,INTC,MSFT,MMM,AAPL,VZ,JNJ,KO,PG,...,NKE,DIS,HD,TRV,RTX,AXP,CVX,JPM,XOM,BA
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-03,5.890625,13.312500,1.093750,0.619792,20.34375,0.334821,25.574492,7.515625,4.804688,8.796875,...,0.859375,9.515615,1.870370,15.09375,4.316787,9.076314,17.00000,10.333333,12.3750,21.000000
1990-01-04,5.859375,13.104167,1.117188,0.638021,20.50000,0.335938,24.590857,7.531250,4.781250,8.625000,...,0.841797,9.505339,1.882716,15.37500,4.306954,8.979757,16.78125,10.375000,12.2500,20.916668
1990-01-05,5.796875,12.833333,1.109375,0.622396,20.15625,0.337054,24.028780,7.453125,4.742188,8.468750,...,0.867188,9.536167,1.858025,15.31250,4.306954,8.883201,16.53125,10.416667,12.1875,20.625000
1990-01-08,5.875000,13.000000,1.125000,0.631944,20.68750,0.339286,24.225508,7.578125,4.843750,8.625000,...,0.863281,9.608099,1.839506,15.37500,4.326621,8.818830,16.68750,10.416667,12.3750,20.875000
1990-01-09,5.718750,12.895833,1.156250,0.630208,20.68750,0.335938,23.551016,7.343750,4.804688,8.625000,...,0.847656,9.597823,1.790123,15.43750,4.277454,8.625717,16.56250,10.083333,12.1250,20.625000